input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 12px; 
    border: 1px solid black;
    transition: ease-in-out 1s;
    margin-top: 5px;
}

textarea:focus {
    border: 2px solid #f9a109;
    outline: none !important;
    margin-top: 5px;
}


input:focus {
    border: 2px solid #f9a109;
    outline: none !important;
}